/* General */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #868686;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    display: none;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
}
.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
}

/* Nav General */
nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding: 0 32px 0 32px; 
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.navbar-left {
    display: flex;
}
nav .navbar-left ul {
    margin-left: 16px;
}
.navbar-left img {
    width: 140px;
    margin-right: 12px;
}
.logo:hover {
    cursor: pointer;
}
.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 6px 12px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.menu-icon {
    display: none;
}
.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
.navbar-email {
    color: var(--black);
    font-size: var(--sm);
    font-weight: 100;
    margin-right: 24px;
}
.navbar-email img {
    width: 3%;
    transform: rotate(90deg);
}
.navbar-email:hover {
    cursor: pointer;
}
.navbar-shoppingcart {
    position: relative;
}
.navbar-shoppingcart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 11px;
    font-weight: bolder; 
    position: absolute;
    top: -2px;
    right: -3px; 
    display: flex;
    justify-content: center;
    align-items: center;        
}
.navbar-shoppingcart:hover {
    cursor: pointer;
}

/* Menu desktop */
.desktop-menu {
    position: absolute;
    top: 52px;
    right: 79px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 6px;
    padding: 20px 20px 0 20px;
    z-index: 100;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    font-weight: bold;
    text-align: end;
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

/* Menu mobile */
.mobile-menu {
    position: absolute;
    top: 60px;
    height: 100%;
    width: 100%;
    padding: 24px;
    background-color: var(--white);
    z-index: 100;
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  .mobile-menu ul {
    padding: 0;
    margin: 40px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 32px;
  }
  .mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
  }
  .mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
  }
  .mobile-menu .menu-email {
    position: fixed;
    display: block;
    bottom: 0;
    margin-bottom: 35px;
  }
  .mobile-menu .menu-email li {
    margin: 6px 0;
  }
/* Shopping Cart */
.shopping-cart-container {
    width: 360px;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    top: 52px;
    right: 0;
    background-color: var(--white);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 100;
}
.title-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}
.title-container img {
    transform: rotate(180deg);
}
.title-container:hover {
    cursor: pointer;
}
.title-shoppingcart {
    font-size: var(--lg);
    font-weight: bold;
}
.my-orders-content {
    margin-bottom: 8px;
}
.order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 18px;
    border-radius: 8px;
    padding: 0 16px;
    height: 68px;
}
.order-total p:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.order-total p:nth-child(2) {
    font-size: var(--sm);
    font-weight: bold;
    text-align: end;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 14px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart img {
    width: 12px;
    height: 12px;
}
.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

/* productos home */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 84px;
}
.product-card {
    width: 240px;
}
.product-card img {
    width: 100%;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-card img:hover {
    cursor: pointer;
}
.remove-container {
    position: absolute;
    display: inline;
}
.remove-product {
    background-color: var(--text-input-field);
    position: relative;
    top: 76px;
    left: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    height: 50px;
    border-radius: 8px;
    filter: alpha (opacity(80));
    -moz-opacity:.80; opacity: 0.8;
}
.remove-product:hover {
    cursor: pointer;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure img {
    width: 35px;
    height: 35px;
}
.product-info figure {
    margin: 0;
}
.product-info figure:hover {
    cursor: pointer;
}
.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info div p:nth-child(2) {
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}
/* descripcion producto */
.product-detail {
    position: absolute;
    right: 0;
    width: 360px;
    height: 100%;
    padding-bottom: 24px;
    background-color: var(--white);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.product-detail-close {
    position: absolute;
    background-color: var(--white);
    width: 14px;
    height: 14px;
    top: 12px;
    left: 12px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product-detail-close:hover {
    cursor: pointer;
}
.product-detail > img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product-description {
    margin: 24px 24px 0 24px;
}
.product-description p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-description p:nth-child(2) {
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--very-light-pink);
}
.product-description p:nth-child(3) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 24px;
    color: var(--very-light-pink);
}
.add-to-card-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* create account */
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 101;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 340px;
}
.title-myacc {
    font-size: var(--lg);
    margin-bottom: 44px;
    text-align: start;
}
.form {
    display: flex;
    flex-direction: column;
    width: inherit;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 20px;
    font-family: 'Quicksand', sans-serif;
}
.login-button {
    margin-top: 8px;
    margin-bottom: 30px;
}

/* my account */
.value {
    font-size: var(--sm);
    margin: 8px 0 32px 0; 
    color: var(--very-light-pink);
}
/* my orders list */
.my-orders-list-container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: 101;
}
.title-my-orders {
    font-size: var(--lg);
    margin-bottom: 40px;
}
.my-orders-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 400px;
}
.my-order-list {
    display: flex;
    flex-direction: column;
}
.list-order-total {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 6px;
}
.list-order-total p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.list-order-total p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.list-order-total p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.list-order-total p:nth-child(2) {
    font-weight: bold;
    text-align: end;
}
.order-list-detail:hover {
    cursor: pointer;
}

/* my order purchase */
.my-order-purchase {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.order-total-purchase {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.order-total-purchase p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order-total-purchase p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}
.order-total-purchase p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.order-total-purchase p:nth-child(2) {
    font-weight: bold;
    text-align: end;
}
.shopping-cart-purchase {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart-purchase figure {
    margin: 0;
}
.shopping-cart-purchase figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
} 
.shopping-cart-purchase p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping-cart-purchase p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
} 
.search-container {
    display: flex;
    position: absolute;
    align-items: center;
    left: 34px;
    top: 76px;
}
.search-bar {
    width: 221px;
    height: 33px;
    background-color: var(--text-input-field);
    border: 1px solid var(--text-input-field);
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
}
.search-filter label {
    font-size: var(--sm);
    padding-left: 10px;
    font-family: 'Quicksand', sans-serif;
}
.search-filter select {
    width: 110px;
    height: 33px;
    border: transparent;
    font-size: var(--sm);
    color: var(--very-light-pink);
    font-family: 'Quicksand', sans-serif;
}
@media (max-width:640px) {
    .menu-icon {
        display: block;
        width: 24px;
    }
    .menu-icon:hover {
        cursor: pointer;
    }
    nav {
        padding: 0 20px 0 20px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-left img {
        width: 120px;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .shopping-cart-container {
        width: 100%;
        border: none;
        box-shadow: none;
    }
    .title {
        display: none;
    }
    .title-container img {
        display: none;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 100%;
        height: 140px;
    }
    .product-detail {
        width: 100%;
    }
    .remove-product {
        width: 100px;
        font-size: var(--sm);
        top: 30px;
        left: 20px;
        padding: 17px;
        box-sizing: border-box;
    }
    .login-button {
        position: absolute;
        bottom: 0;
        width: inherit;
        margin-bottom: 24px;
    }
    .secondary-button {
        position: absolute;
        bottom: 0;
        width: inherit;
        margin-bottom: 30px;
    }
    .my-orders-container {
        width: 300px;
    }
    .title-my-orders {
        display: none;
    }
    .cards-container {
        margin-top: 120px;
    }
    .search-container {
        flex-direction: column;
        width: 80%;
    }
    .search-filter {
        margin-top: 10px;
    }
}
@media (max-width:770px) {
    nav {
        padding: 0 10px 0 10px;
    }
    .navbar-left ul li a, .navbar-right ul li a {
    padding: 6px 10px;
    }
}
@media (min-width:641px) {
    .mobile-menu {
        display: none;
    }
}
