/* General */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #868686;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    display: none;
}

/* Nav General */
nav {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    padding: 0 32px 0 32px; 
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.navbar-left {
    display: flex;
}
nav .navbar-left ul {
    margin-left: 16px;
}
.navbar-left img {
    width: 140px;
    margin-right: 12px;
}
.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    border-radius: 8px;
    padding: 6px 12px;
}
.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}
.menu-icon {
    display: none;
}
.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 50px;
}
.navbar-email {
    color: var(--black);
    font-size: var(--sm);
    font-weight: 100;
    margin-right: 24px;
}
.navbar-email img {
    width: 3%;
    transform: rotate(90deg);
}
.navbar-email:hover {
    cursor: pointer;
}
.navbar-shoppingcart {
    position: relative;
}
.navbar-shoppingcart div {
    width: 12px;
    height: 12px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: 11px;
    font-weight: bolder; 
    position: absolute;
    top: -2px;
    right: -3px; 
    display: flex;
    justify-content: center;
    align-items: center;        
}
.navbar-shoppingcart:hover {
    cursor: pointer;
}

/* Menu desktop */
.desktop-menu {
    position: absolute;
    top: 52px;
    right: 79px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 6px 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    font-weight: bold;
    text-align: end;
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 24px;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

/* Menu mobile */
.mobile-menu {
    position: absolute;
    top: 60px;
    padding: 24px;
    background-color: var(--white);
  }
  .mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
  }
  .mobile-menu ul {
    padding: 0;
    margin: 40px 0 0;
    list-style: none;
  }
  .mobile-menu ul:nth-child(1) {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .mobile-menu ul li {
    margin-bottom: 32px;
  }
  .mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
  }
  .mobile-menu .sign-out {
    font-size: var(--sm);
    color: var(--hospital-green);
  }
  .mobile-menu .menu-email {
    position: fixed;
    display: block;
    bottom: 0;
    margin-bottom: 35px;
  }
  .mobile-menu .menu-email li {
    margin: 6px 0;
  }
/* Shopping Cart */
.product-detail {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    top: 52px;
    right: 0;
    background-color: var(--white);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}
.title-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;
}
.title-container img {
    transform: rotate(180deg);
}
.title-shoppingcart {
    font-size: var(--lg);
    font-weight: bold;
}
.my-order-content {
    margin-bottom: 8px;
}
.order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 18px;
    border-radius: 8px;
    padding: 0 16px;
    height: 68px;
}
.order-total p:nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.order-total p:nth-child(2) {
    font-size: var(--sm);
    font-weight: bold;
    text-align: end;
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 14px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart img {
    width: 12px;
    height: 12px;
}
.shopping-cart p:nth-child(2) {
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width:640px) {
    .menu-icon {
        display: block;
        width: 24px;
    }
    .menu-icon:hover {
        cursor: pointer;
    }
    nav {
        padding: 0 20px 0 20px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-left img {
        width: 120px;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .product-detail {
        width: 100%;
        border: none;
        box-shadow: none;
    }
    .title {
        display: none;
    }
    .title-container img {
        display: none;
    }
}
@media (max-width:770px) {
    nav {
        padding: 0 10px 0 10px;
    }
    .navbar-left ul li a, .navbar-right ul li a {
    padding: 6px 10px;
    }
}
@media (min-width:641px) {
    .mobile-menu {
        display: none;
    }
}
